//-----size--------------------------------------------------
$maxwidth: 75rem;
$minwidth: 20rem;

$pading-smol: 2rem;
$pading-text: 1.5rem;

$font-size-s: 0.875rem; // 14px
$font-size-l: 1rem; // 16px

//-----colors
$background-basic: #F5F7FF;
$background-secondary: #FFFFFF;
$blacktext: #353434;
$silvertext: #A8A8A8;
$orangecolor: #FF5C00;
$battoncolor: #544CAC;

//-----letter spacing-----

$letter-spacing-s: 0.055rem;
$letter-spacjng-large: 0.6rem;