//-----size--------------------------------------------------
$maxwidth: 75rem;
$minwidth: 20rem;



//-----colors
$background-basic: #F5F7FF;
$background-secondary: #FFFFFF;
$blacktext: #353434;
$silvertext: #A8A8A8;
$orangecolor: #FF5C00;
$battoncolor: #544CAC;