@import 'nullstyle.scss';
@import 'variables';

[class*="__container"] {
    max-width: $maxwidth;
    min-width: $minwidth;
    margin: 0 auto;
    padding: 0rem;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header__container {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: $background-basic;
    padding: 1.5rem;
    color: $blacktext;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: opensans, sans-serif;
    letter-spacing: 0.1rem;
    .header-logo {}
    .header_menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        .menu_item:hover {
            font-size: 1rem;
        }
    }
    .header_serch {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 19rem;
        height: 2.5rem;
        border-radius: 1.56rem;
        background-color: #fff;
        box-shadow: 0 0.125rem 0.312rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        .search-input {
            flex-grow: 1;
            height: 100%;
            padding: 0 1.25rem;
            border: none;
            outline: none;
            font-size: 1rem;
            color: #333;
            background-color: transparent;
        }
        .search-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.1rem;
            height: 2.1rem;
            margin-right: 0.312rem;
            border: 0.125rem solid #e0e0f0;
            border-radius: 50%;
            background-color: $background-basic;
            cursor: pointer;
            transition: all 0.3s ease;
            padding: 0;
            outline: none;
        }
        .search-button:hover {
            border-color: #fe461c;
        }
        .search-icon {
            width: 1.25rem;
            height: 1.25rem;
            color: #fe461c;
            stroke-width: 0.156rem;
        }
    }
    .header_login-singup {
        .header_login {
            color: blue;
            &:hover {
                font-size: 1rem;
            }
        }
        .header_singup:hover {
            font-size: 1rem;
        }
    }
}
.text {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.055rem;
    transition: background-color 0.3s ease;
    color: $silvertext;
    font-family: Opensans, sans-serif;
    margin-bottom: 2rem;
}
.text-center {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.055rem;
    transition: background-color 0.3s ease;
    color: $silvertext;
    font-family: Opensans, sans-serif;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 1rem;
    width: 55%;
}
.title {
    color: #353434;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
    line-height: 3.125rem;
}
.title-footer {
    color: $blacktext;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    line-height: 3.125rem;
}
.main__container {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    overflow-y: auto;
    min-height: 100vh;
    .baner__container {
        display: flex;
        justify-content: center;
        background-color: $background-basic;
        width: 100%;
        .baner_text-block {
            align-content: center;
            .baner-title {
                letter-spacing: 0.05rem;
                font-family: prompt, sans-serif;
                font-weight: 400;
                font-size: 2.812rem;
                line-height: 3.438rem;
                color: $blacktext;
                margin-bottom: 0.625rem;
                .baner-title-color {
                    color: $orangecolor;
                }
            }
            .baner_block-buttons {
                display: flex;
                gap: 3rem;
                .dis-now-button {
                    display: inline-block;
                    padding: 0.625rem 1.25rem;
                    background-color: $battoncolor;
                    color: $background-secondary;
                    border-radius: 0.625rem;
                    font-family: opensans, sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    letter-spacing: 0.1rem;
                    transition: background-color 0.3s ease; // Плавный переход цвета фона
                }
                .watch-demo-button {
                    justify-content: start;
                    align-items: center;
                    background-color: $background-basic;
                    display: flex;
                    width: 11rem;
                    height: 2.9rem;
                    border-radius: 2rem;
                    color: $blacktext;
                    gap: 1rem;
                    font-family: opensans, sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    letter-spacing: 0.1rem;
                    .demo-cirkle {
                        width: 2.99rem;
                        height: 2.99rem;
                        border-radius: 50%;
                        background-color: $background-secondary;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .play {
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }
            }
        }
        .baner_img-block {
            .baner-img {}
        }
    }
    .guide__container {
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem 2.2rem;
        background-color: $background-secondary;
        .our-partners {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .guide__text-photo-section {
            display: flex;
            justify-content: center;
            .guide__text-block {
                .how-it-work {
                    font-family: Oswald, sans-serif;
                    font-weight: 400;
                    font-size: 0.8rem;
                    line-height: 3.125rem;
                    color: $orangecolor;
                    margin-bottom: 0.05rem;
                }
                .collapsible {
                    padding-right: 1rem;
                    width: 30.5rem;
                    margin: 20px auto;
                    font-family: sans-serif;
                    .collapsible-block {
                        background-color: $background-secondary;
                        border-radius: 8px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
                        margin-bottom: 15px;
                        color: $blacktext;
                        overflow: hidden;
                        list-style: none;
                        .collapsible-header {
                            display: flex;
                            align-items: center;
                            padding: 15px 20px;
                            cursor: pointer;
                            font-family: Opensans, sans-serif;
                            font-weight: bold;
                            font-size: 1.1em;
                            background-color: $background-basic;
                            position: relative;
                            margin-top: 1.5rem;
                            &::-webkit-details-marker {
                                display: none;
                            }
                            &::marker {
                                display: none;
                            }
                            .step-number1 {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 30px;
                                height: 30px;
                                border-radius: 25%;
                                color: #9444C9;
                                background-color: #F3E0FF;
                                font-size: 0.9em;
                                margin-right: 15px;
                                flex-shrink: 0;
                            }
                            .step-number2 {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 30px;
                                height: 30px;
                                border-radius: 25%;
                                color: #626FFF;
                                background-color: #E7E9FE;
                                font-size: 0.9em;
                                margin-right: 15px;
                                flex-shrink: 0;
                            }
                            .step-number3 {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 30px;
                                height: 30px;
                                border-radius: 25%;
                                color: $orangecolor;
                                background-color: #FFDECC;
                                font-size: 0.9em;
                                margin-right: 15px;
                                flex-shrink: 0;
                            }
                            .icon-chevron {
                                margin-left: auto;
                                width: 24px;
                                height: 24px;
                                color: #4238AF;
                                transition: transform 0.3s ease-in-out;
                            }
                        }
                        &[open] .collapsible-header .icon-chevron {
                            transform: rotate(90deg);
                        }
                        .collapsible-content {
                            padding: 10px 20px 15px;
                            background-color: $background-basic;
                            color: $silvertext;
                            line-height: 1.6;
                        }
                    }
                }
            }
            .video-wrapper {
                margin-top: 4rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .video-frame {
                    position: relative;
                    width: 100%;
                    border-radius: 1rem;
                    overflow: hidden;
                    iframe {
                        width: 39.6rem;
                        height: 27rem;
                        border-radius: 1rem;
                        border: none;
                    }
                }
            }
        }
    }
    .why-chose-us {
        background-color: $background-secondary;
        display: flex;
        align-items: center;
        flex-direction: column;
        &_title-block {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            align-items: center;
        }
        &_card-block {
            display: flex;
            justify-content: center;
            padding: 0 2.2rem;
            margin-bottom: 2rem;
            .card {
                background-color: $background-secondary;
                margin: 1rem;
                padding: 1.5rem;
                gap: 1rem;
                border-radius: 1.5rem;
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
                transition: box-shadow 0.3s ease;

                &.central {
                    background-color: #f7f6ff; // м’який фіолетовий фон
                    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1); // глибша тінь
                }
            }

            .card-title {
                font-family: 'Open Sans';
                font-weight: 600;
                font-size: 1.25rem;
                letter-spacing: 0.05rem;
                margin: 1rem 0;
            }
        }
    }
    .featured-jobs__container {
        background-color: $background-secondary;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .featured-jobs_title-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
        }
        .featured-jobs-card_block {
            display: flex;
            margin-bottom: 1.5rem;
            .fj-card {
                background-color: $background-secondary;
                margin: 1rem;
                padding: 1.5rem;
                border-radius: 1.5rem;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
                transition: box-shadow 0.3s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 21.7rem;
                height: 26.5rem;

                .seting {
                    width: 95%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                }

                .card-avatar-block {
                    margin-bottom: 1rem;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 0.2rem solid $orangecolor;
                    margin-top: 1.5rem;
                    box-shadow: 0 0 0.312rem rgba(0, 0, 0, 0.5);
                }

                .fj-title {
                    font-size: 1.25rem;
                    font-weight: 400;
                    letter-spacing: 0.03rem;
                    transition: background-color 0.3s ease;
                    color: $blacktext;
                    font-family: Opensans, sans-serif;
                }

                .team {
                    color: $battoncolor;
                    font-size: 0.9rem;
                    margin-bottom: 2.5rem;
                }

                .fj-card-buttons {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    margin-top: 2.5rem;

                    .svg {
                        width: 3rem;
                        height: 3rem;
                    }

                    .fj-card-button {
                        background-color: $battoncolor;
                        color: $background-secondary;
                        border-radius: 2rem;
                        width: 7rem;
                        height: 2.7rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .praice-block {
                    display: flex;
                    align-items: center;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    font-size: 1rem;
                    display: flex;
                    justify-content: space-between;
                    width: 14rem;
                    letter-spacing: 0.055rem;
                    margin-bottom: 0.5rem;

                    .praice {
                        display: flex;
                    }

                    .praice-time {
                        color: $silvertext;
                        font-weight: 0.875rem;
                    }
                }

                .location-block {
                    display: flex;
                    align-items: center;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    font-size: 1rem;
                    display: flex;
                    justify-content: space-between;
                    width: 14rem;

                    .location {
                        display: flex;
                    }

                    .viev-loco {
                        color: $silvertext;
                        font-weight: 0.875rem;
                    }
                }
            }
            .fj-card:hover {
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
            }
        }
        .arrow-buttons {
            display: flex;
            gap: 1rem;
            margin-bottom: 2rem;
            align-items: center;
            .arrow-left {
                box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
                border-radius: 1rem;
                width: 4rem;
                height: 4rem;
                .arrow-left-svg {
                    width: 4rem;
                    height: 4rem;
                }
            }
            .arrow-left:hover {
                box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
            }
            .arrow-right {
                box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
                border-radius: 1rem;
                width: 4rem;
                height: 4rem;
                .arrow-right-svg {
                    width: 4rem;
                    height: 4rem;
                }
            }
            .arrow-right:hover {
                box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
                fill: $orangecolor;
            }
            .fj-viewmore-button {
                box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
                margin-left: 2rem;
                background-color: $battoncolor;
                color: $background-secondary;
                border-radius: 2rem;
                width: 8rem;
                height: 2.7rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .fj-viewmore-button:hover {
                box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
            }
        }
    }
    .whatour__container {
        width: 100vw;
        padding: 2.2rem;
        display: flex;
        flex-direction: column;
        background-color: $background-secondary;
        .whatour_title-block {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .whatour_img-text-blo {
            display: flex;
            whatour_img-block {
                width: 21.8rem;
                height: 21.8rem;
            }
        }
        .whatour_text-block {
            padding-left: 2rem;
            display: flex;
            flex-direction: column;
            .whaour-title {
                font-family: Opensans, sans-serif;
                font-weight: 600;
                font-size: 1.25rem;
                letter-spacing: 0.05rem;
                color: $blacktext;
            }
            .star-rating-block {
                justify-content: flex-end;
                display: flex;
                padding-right: 2rem;
                .star-rating {
                    display: flex;
                    align-items: center;
                    gap: 0.312rem;
                }
                .star {
                    width: 1.5rem;
                    height: 1.5rem;
                    color: #FFD700;
                    flex-shrink: 0;
                    &.filled {
                        fill: currentColor;
                        stroke: none;
                    }
                    &.half-filled {
                        stroke: none;
                    }
                    &.empty {
                        fill: transparent;
                        stroke: $silvertext;
                        stroke-width: 1.5;
                    }
                }
                .rating-value {
                    font-size: 1.5em;
                    font-weight: bold;
                    color: $blacktext;
                    margin-left: 0.312rem;
                }
            }
            .whatour-textjustify {
                font-size: 0.875rem;
                line-height: 1.6;
                color: #383838;
                text-align: justify;
                margin-bottom: 2rem;
            }
            .whatour-reviewers_button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .whatour-buttons {
                    display: flex;
                    gap: 1rem;
                    align-content: center;
                    .arrow-left {
                        box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
                        border-radius: 1rem;
                        width: 3rem;
                        height: 3rem;
                        .arrow-left-svg {
                            width: 3.1rem;
                            height: 3.1rem;
                        }
                    }
                    .arrow-left:hover {
                        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
                    }
                    .arrow-right {
                        box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
                        border-radius: 1rem;
                        width: 3rem;
                        height: 3rem;
                        .arrow-right-svg {
                            width: 3.1rem;
                            height: 3.1rem;
                        }
                    }
                    .arrow-right:hover {
                        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
                        fill: #EF6010;
                    }
                }
                .whatour-reviewers {
                    display: flex;
                    align-items: center;

                    .whatour-avatar-block {
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: 50%;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 0.2rem solid #ff741e;
                        box-shadow: 0 0 0.312rem rgba(0, 0, 0, 0.5);

                        &:not(:first-child) {
                            // Застосовуємо тільки до всіх елементів, крім першого
                            margin-left: -1.5rem;
                        }

                        .avatar {
                            width: 100%;
                            height: 100%;
                            object-fit: cover; // Щоб зображення заповнювало коло без спотворень
                            display: block; // Щоб уникнути зайвого простору під зображенням
                        }
                    }

                    .whatour-avatar-count {
                        background-color: #A9A3E9;
                        color: #4238AF;
                        margin-left: -1.5rem;
                        font-size: 1rem;
                        font-weight: bold;
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: 50%;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 0 0.312rem rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
        .whatour_count {
            display: flex;
            border-radius: 2rem;
            background-color: #CED5F4;
            align-items: center;
            justify-content: space-around;
            margin: 8rem 0;
            padding: 6rem 4rem;
            .whatour-counts-name {
                display: flex;
                flex-direction: column;
                align-items: center;

                .count {
                    font-family: 'Oswald';
                    font-size: 2.5rem;
                    color: $battoncolor;
                    letter-spacing: 0.01rem;
                    font-weight: 400;
                }

                .name {
                    font-family: 'open sans';
                    font-weight: 400;
                    font-size: 1rem;
                    letter-spacing: 0.05rem;
                    color: $background-secondary;
                }
            }
        }
    }
    .pricing__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        background-color: $background-secondary;
        .pricing_card-block {
            display: flex;
            justify-content: space-around;
            background-color: $background-secondary;
            gap: 2rem;
            padding: 3rem;
            .pricing-card {
                padding: 3.5rem;
                gap: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $background-secondary;
                border-radius: 2rem;
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
                transition: box-shadow 0.3s ease;

                &.central {
                    background-color: #F9FAFF; // м’який фіолетовий фон
                    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1); // глибша тінь
                }

                .pricing-card-title {
                    font-family: 'Open Sans';
                    font-weight: 600;
                    font-size: 1.25rem;
                    letter-spacing: 0.05rem;
                    color: $battoncolor;
                }

                .price {
                    font-family: 'Oswald';
                    font-weight: 400;
                    font-size: 2.8rem;
                    letter-spacing: 0.16rem;
                    color: $blacktext;

                }

                .pricing-propous {
                    gap: 1rem;
                    display: flex;
                    flex-direction: column;

                    .propous-item {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        img {
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }

                .pricing-card-button {
                    font-family: 'Open Sans';
                    font-weight: 400;
                    font-size: 1rem;
                    letter-spacing: 0.05rem;
                    background-color: #BDBBD9;
                    color: $background-secondary;
                    border-radius: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.7rem 2rem;

                    &.central {
                        background-color: $battoncolor;
                    }
                }

                &:hover {
                    .pricing-card-button {
                        background-color: $battoncolor;
                    }
                }
            }
        }
    }
}
.footer__container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: $background-secondary;
    flex-shrink: 0;
    padding-top: 5rem;
    .footer-nav {
        display: flex;
        justify-content: space-between;
        padding: 2.2rem;
        border-radius: 1.5rem 1.5rem 0 0;
        background-color: $background-basic;
        .nav-column {
            display: flex;
            flex-direction: column;
            .nav-column-utem {
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 1rem;
                letter-spacing: 0.05rem;
                color: $silvertext;
                margin-bottom: 0.5rem;
                &:hover {
                    font-weight: 600;
                    color: $blacktext;
                }
            }
        }
    }
    .bottom-footer {
        padding: 0.5rem 2.2rem;
        background-color: $background-basic;
        .bottom-footer-border {
            border-top: 0.2rem solid $battoncolor;
            padding-top: 0.5rem;
            display: flex;
            justify-content: space-between;
            .bottom-footer-nav {
                display: flex;
                align-items: center;
                .bottom-footer-list {
                    display: flex;
                    gap: 2.5rem;
                    .item:hover {
                        font-weight: 600;
                        color: $blacktext;
                    }
                }
            }
            .bottom-footer-sociallink {
                width: 15rem;
                justify-content: space-between;
                display: flex;
            }
        }
    }
}